*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
     
}
body{
    background-color:rgb(245, 241, 235);
    
}
header{
    background-color:white ;
}
.title{
    font-size: 50px;
}
.first{
  background-color: aqua;
}
main{
    margin-top: 40px;
    background-color: white;
    line-height: 32px;
    width: 70%;
}
hr{
    color: grey;
}
.blue{
    background-color: blue;
    color: white; 
    border-radius:10%;  
}
.violet{
    background-color: violet;
    color: white;
    border-radius:10%;
}
.green{
    background-color:green;
    color: white;
    border-radius:10%;
}
.orange{
    background-color: orange;
    color: white;
    border-radius:10%;
}
.greenyellow{
    background-color: greenyellow;
    color: white;
    border-radius:10%;
}
.rose{
    background-color: rosybrown;
    color:white;
    border-radius:10%;
}